#middle-nav{
    font-family: roboto;
    letter-spacing: 3px;
    text-align: center;
    margin-top: 50px;
}
#middle-first-p-id{
    display: block;
}
#smiley-id{
    font-size: 30px;
}
